@import url('https://fonts.googleapis.com/css2?family=Encode+Sans:wght@500&display=swap');

.toda-pagina {
    width: 1250px;
    margin: auto;
    font-family: "Encode Sans", sans-serif;
    background-color: white;
}

.header {
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header img {
    margin: 20px 50% 0 50%;
    width: 200px;
}

/* --------------------------------------------------------------- */

.sub-header {

    height: 40px;
    border-top: 1px solid #F4F5F6;

    display: flex;
    justify-content: space-between;
    align-items: center;
  }

.sub-box {

    width: 10%;
    height: 100%;
    margin-top: 20px;
    border-bottom: 1px solid #F4F5F6;

    font-size: 18px;
    font-weight: bold;
    text-align: center;
}

.s1 {    color: red;        }
.s2 {    color: blue;       }
.s3 {    color: cadetblue;  }
.s4 {    color: green;      }
.s5 {    color: orange;     }
.s6 {    color: red;        }
.s7 {    color: pink;       }
.s8 {    color: orange;     }
.s9 {    color: black;      }
.s0 {    color: purple;     }

.r {    color: red;         }
.g {    color: green;       }
.o {    color: orange;      }

/* --------------------------------------------------------------- */

.todo-conteudo {
    display: flex;
}

.box-esquerdo {

    width: 60%;
    height: 900px;

    margin-top: 15px;
    /* background-color: lightblue; */
}

.box-direito {

    width: 40%;
    height: 900px;

    display: flex;
    margin-top: 15px;
    /* background-color: salmon; */
}

/* --------------------------------------------------------------- */

.box-esquerdo-top {

    width: 100%;
    height: 400px;

    /* background-color: lightgreen; */
    border-bottom: 2px solid #F5F6F7;
    position: relative;
}

.box-esquerdo-top h1 {

    margin: auto;
    font-size: 58px;
    font-weight: bold;
    color: #C4160C;
}

.box-esquerdo-top p {

    margin-top: 40px;
    font-size: 18px;
    color: #303134;
}

.manchete {

    position: absolute;
    margin-top: 50px;
    margin-left: 10px;
}

/* --------------------------------------------------------------- */

.box-esquerdo-mid {

    width: 100%;
    height: 300px;
    
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.box-esquerdo-bot {

    width: 100%;
    height: 300px;
    
    display: flex;
    /* background-color: lightseagreen; */
}

/* --------------------------------------------------------------- */

.box-direito-left {
    
    width: 50%;
    height: 1000px;
    /* background-color: red; */

    display: flex;
    flex-wrap: wrap;

    justify-content: space-between;
    border-left: 2px solid #F5F6F7;
}

.box-direito-left img {

    margin-left: 15px;
    margin-top: 80px;
    border-radius: 12px;
    width: 220px;
}

.box-direito-right {
    width: 50%;
    height: 1000px;
    /* background-color: blue; */

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    border-left: 2px solid #F5F6F7;
}

.box-direito-right img {

    margin-left: 15px;
    margin-top: 80px;
    border-radius: 12px;
    width: 220px;
}

.mecorrige {
    margin-left: 15px;
}

/* --------------------------------------------------------------- */

.box-esquerdo-mid .caixa {

    margin-top: 40px;
    width: 33.33%;
    height: 100%;
    /* background-color: blue; */
}

.box-esquerdo-mid .caixa img {
    border-radius: 12px;
    width: 220px;
}

/* --------------------------------------------------------------- */

.box-esquerdo-bot {

    margin-top: 40px;
    border-top: 2px solid #F5F6F7;
    text-align: left;
}

.box-esquerdo-bot .caixa {

    width: 33.33%;
    height: 50%;
    margin-top: 20px;
}

/* --------------------------------------------------------------- */
/* tratando os textos */

p, h1 {

    margin-top: 20px;
    margin-bottom: 20px;;
    /* margin-left: 20px; */
}

h1 {
    
    font-weight: bold;
    font-size: 18px;
}

/* ------------------------------------------------------- */
/* efeitos */

p:hover {
    cursor: pointer;
    opacity: 0.5;
    text-decoration: underline;
}
  
h1:hover {
    cursor: pointer;
    opacity: 0.5;
    text-decoration: underline;
}

img:hover{  
    cursor: pointer;
    opacity: 0.5;
}

.sub-box:hover {
    cursor: pointer;
    opacity: 0.5;
    text-decoration: underline;
}

/* ------------------------------------------------------------ */

/* responsividade -> infelizmente não funciona como deveria ! */

@media (max-width: 600px) {

    .toda-pagina {

        width: auto;
        height: auto;

        display: column;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    .todo-conteudo {

        width: auto;
        height: auto;

        display: column;
        justify-content: space-around;
        flex-wrap: wrap;

    }
}